# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
.env.*
*.db
*.sqlite3
*.joblib
*.h5

# Node
node_modules/
build/
dist/
.next/
out/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Terraform
*.tfstate
*.tfstate.backup
.terraform/

# VSCode
.vscode/

# Secrets (just in case)
secrets.yaml
